// =================================
// todo
// =================================

.c-todo__title {
  font-size: 1rem;
  font-weight: 400;

  .is-completed & {
    text-decoration: line-through;
  }
}
